body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px;
}

.form input {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
}
